<footer>
    <div class="fa-info">
        <div class="fa-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="fa-brand">
            <p>&copy; wanderlust Private Limited</p>
        </div>
        <div class="fa-links">
            <a href="/privacy">Privacy</a>
            <a href="/term">Terms</a>
        </div>
    </div>
</footer>